*{
  box-sizing: border-box;
}

body{
  font-size: 1rem;
  line-height: 1;
}

img{
  width: 100%;
  height: 100%;
  display: block;
}

.main-image{
  height: 0;
  width: 100%;
  padding-top: 50%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),url(../img/main-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}



header h1{
  position: absolute;
  top: 15%;
  left:20%;
  font-size: 2rem;
  color: #fff;
  background: linear-gradient(90deg, rgba(221, 224, 19, 0.8),  rgba(221, 224, 19, 0.2));
  width: 100%;
  padding: 1%;
  padding-left: 10px;
  font-size: 2rem;
}

.innar{
  width: 1000px;
  margin: 0 auto;
}
nav{
  background:#fbfbfb;
}

nav ul {
  list-style-type:none ;
  display: flex;
  justify-content: center;
  align-items: center;
}


nav a{
  width: 100px;
  height: 50px;
  margin: 5px;
  color: rgb(50, 50, 50);
  text-decoration: none;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 30%) 0px 3px 5px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease 0s;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
}


nav a:hover{
  color: white;
}

nav a::before{
  content: "";
  background-color: rgba(17, 89, 184, 0.8);
  position: absolute;
  top:50%;
  left:50%;
  width: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
  height: 200px;
  z-index: -1;
  transition: all 0.3s;
}
nav a:hover:before{
  width: 90%;
}


section{
  padding: 100px 0;
  text-align: center;
  width: 100%;
}

section h2{
  font-size: 2rem;
}

section .container{
  padding:15px;
  margin: 10px auto;
  display: flex;
}

.myicon{
  height: 200px;
  width: 200px;
  min-width: 200px;
  border:1px solid #000;
  border-radius:50% ;
  background-image: url(../img/face-icon.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.about-text{
  text-align: left;
  line-height: 1.5;
  letter-spacing: 1.8;
  padding:12px;
}
.about-text h3{
  margin-bottom: 20px;
}

.portfolio{
  background: #7fa8af;
}
.portfolio .container{
  flex-wrap: wrap;  
}

.portfolio-item{
  width: 33%;
  padding: 10px 20px;
  min-height: 350px;
  
}

.portfolio-item a{
  color:#111;
  text-decoration: none;
  display: block;
  overflow: hidden;
  padding:7%;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 45%);
  background:#fff;
}

.portfolio-item a:hover{
  background-color: skyblue;
  color: white;
  
}

.portfolio-item-inner figure:hover{
  transform: scale(1.1);
}

.categoly{
  padding: 10px 0 15px;
  font-size: 14px;
  text-align: right;
  font-weight: 700;
}

.item-desc{
  font-weight: 200;
  min-height: 60px;
  padding-bottom: 60px;
  height: 130px;
  text-align: left;
  line-height: 1.5;
}

.date{
  text-align: left;
}

.skill .container{
  justify-content: space-around;
  margin-top: 40px;
}

.skill-list{
  text-align: left;
  max-width: 33%;
}
.skill-list dl{
  font-size:1.2rem;
  line-height: 1.5;
}
.skill-list dt{
  margin-bottom: 20px;
}

.skill-list dd{
  text-indent: 1.2rem;
}

.contact{
  background-color: #c2c0c0;
}

.contact-text{
  padding-top:50px ;
  width: 50%;
  line-height: 1.5rem;
}


.contact a{
  display: flex;
  float: left;
  width: 30%;
  text-decoration: none;
  border: 3px solid #FFF;
  font-size: 1.5rem;
  color: #fff;
  background: #83CFD1;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.contact a:hover{
  background-color: aquamarine;
}

/* form {
  width: 50%;
  min-width: 9rem;
  margin: 0 30px;
}
  
input, textarea {
  float: left;
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: darken(#f9f9f9, 10%);
  color: darken(#f9f9f9, 50%);
  
}
textarea {
  height: 10rem;
} */




footer{
  width: 100%;
  text-align: center;
  padding:10px;
  background-color: beige;
}


footer a{
  color: #0d6efd;
  display: block;
  padding:10px
}

.page-top a{
  position: fixed;
  bottom:10px;
  right: 10px;
  opacity: 0.6;
}





@media screen and (max-width:1024px){

  .innar{
    width: 100%;
  }
}

@media screen and (max-width:768px){
  
  header h1{
    top:0;
    left:0;
  }

  nav li{
    flex:1;
  }

  nav a {
    margin: 0;
    width: 100%;
  }
  .container{
    flex-direction: column;
    align-items: center;
  }

  .about-text{
    text-align: center;
  }

  .portfolio-item{
    width: 70%;
  }
  


  .skill-list{
    margin-bottom:30px;
    max-width: 100%;
    align-self: flex-start;
  }

  .contact-text{
    margin-bottom: 30px;
  }

  .contact a{
    width: 100%;
  }

  form{
    width: 80%;
  }
}