* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  line-height: 1;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.main-image {
  height: 0;
  width: 100%;
  padding-top: 50%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../img/main-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

@keyframes titleanimetion{
  0% {
    opacity: 0;
    letter-spacing: 0.3em;
  }
}

header h1 {
  position: absolute;
  top: 15%;
  left: 20%;
  font-size: 2rem;
  color: #fff;
  background: linear-gradient(90deg, rgba(221, 224, 19, 0.8), rgba(221, 224, 19, 0.2));
  width: 100%;
  padding: 1%;
  padding-left: 10px;
  font-size: 2rem;
  animation: titleanimetion 2s;
}

.inner {
  width: 1000px;
  margin: 0 auto;
}

nav {
  background: #fbfbfb;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  width: 100px;
  height: 50px;
  margin: 5px;
  color: rgb(50, 50, 50);
  text-decoration: none;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 30%) 0px 3px 5px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease 0s;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
}

nav a:hover {
  color: white;
}

nav a::before {
  content: "";
  background-color: rgba(17, 89, 184, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0%;
  transform: translate(-50%, -50%) rotate(45deg);
  height: 200px;
  z-index: -1;
  transition: all 0.3s;
}

nav a:hover:before {
  width: 90%;
}

section {
  padding: 100px 0;
  text-align: center;
  width: 100%;
}

section h2 {
  font-size: 2rem;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 1s;
}

section .js-fadein h2{
  opacity: 1;
  transform: none;
}

.container {
  padding: 15px;
  margin: 10px auto;
  display: flex;
  opacity: 0;
  transition: all 1s .5s;
}

section:nth-of-type(odd) .container{
  transform: translateX(100px);
}

section:nth-of-type(even) .container{
  transform: translateX(-100px);
}

section:nth-of-type(odd) .js-fadein .container,
section:nth-of-type(even) .js-fadein .container{
  opacity: 1;
  transform: none;
}

.myicon {
  height: 200px;
  width: 200px;
  min-width: 200px;
  border: 1px solid #000;
  border-radius: 50%;
  background-image: url(../img/face-icon.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-text {
  text-align: left;
  line-height: 1.5;
  letter-spacing: 1.8;
  padding: 12px;
}

.about-text h3 {
  margin-bottom: 20px;
}

.portfolio {
  background: #7fa8af;
}

.swiper-container{
  width: 100%;
}


.portfolio-item {
  padding: 10px 20px;
}

.portfolio-item a {
  color: #111;
  text-decoration: none;
  display: block;
  overflow: hidden;
  padding: 7%;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 45%);
  background: #fff;
}

.portfolio-item a:hover {
  background-color: skyblue;
  color: white;
}

.portfolio-item-inner figure:hover {
  transform: scale(1.1);
}

.categoly {
  padding: 10px 0 15px;
  font-size: 14px;
  text-align: right;
  font-weight: 700;
}

.item-desc {
  font-weight: 200;
  min-height: 60px;
  padding-bottom: 60px;
  height: 130px;
  text-align: left;
  line-height: 1.5;
}

.swiper-button-prev,
.swiper-button-next{
  width: 60px;
  height: 60px;
  background: #000;
  transform: rotate(45deg);
}
.swiper-button-prev{
  left: 28%;
}

.swiper-button-prev::after{
  transform: rotate(-45deg) translate(-26%, 0);
  font-size: 34px;
  font-weight: bold;
}

.swiper-button-next{
  right: 28%;
}

.swiper-button-next::after{
  transform: rotate(-45deg) translate(33%, 0);
  font-size: 34px;
  font-weight: bold;
}
/* modal */

.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
}

.modal-bg {
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100%;
}

.modal-content {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  width: 40%;
  text-align: left;
}


.modal-content-inner {
  position: relative;
  padding: 24px;
  font-size: 14px;
  line-height: 1.5;
}

/* 閉じるボタン */
.modal-close {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: auto;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after{
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  background: #333;
  transform: rotate(45deg);
  transform-origin: 0% 50%;
  position: absolute;
  top:calc(14% - 5px);
  left: 14%;
}

.modal-close::after{
  transform: rotate(-45deg);
  transform-origin: 100% 50%;
  left: auto;
  right: 14%;
}

.modal-ttl{
  font-weight: bold;
  margin: 5px 0 10px;
}

.modal-text{
  margin:0 0 10px  ;
}

.modal-content-inner ul{
  padding-left: 1rem;
  margin-top: 5px;
}

.portfolio-btn{
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin: 10px 0 0;
  padding: 15px;
  background: #006166;
  border-radius: 100% 80px/80px 100%;
  transition: .2s;
}

.portfolio-btn:hover{
  border-radius: 10% 80px/80px 10%;
}

/* modal */

.date {
  text-align: left;
}

.skill .container {
  justify-content: space-around;
  margin-top: 40px;
}

.skill-list {
  text-align: left;
  max-width: 33%;
}

.skill-list dl {
  font-size: 1.2rem;
  line-height: 1.5;
}

.skill-list dt {
  margin-bottom: 20px;
}

.skill-list dd {
  text-indent: 1.2rem;
}

.contact {
  background-color: #c2c0c0;
}

.contact-text {
  padding-top: 50px;
  width: 50%;
  line-height: 1.5rem;
}

.contact a {
  display: flex;
  float: left;
  width: 30%;
  text-decoration: none;
  border: 3px solid #FFF;
  font-size: 1.5rem;
  color: #fff;
  background: #83CFD1;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.contact a:hover {
  background-color: aquamarine;
}

footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: beige;
}

.footer-link {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.footer-link a+a {
  margin-left: 30px;
}

.bi-twitter {
  color: #0d6efd;
}

.bi-github {
  color: #333;
}

.page-top a {
  position: fixed;
  bottom: 10px;
  right: 10px;
  opacity: 0.6;
  z-index: 200;
}

@media screen and (max-width:1024px) {
  .inner {
    width: 100%;
  }
}

@media screen and (max-width:768px) {
  header h1 {
    top: 0;
    left: 0;
  }
  nav li {
    flex: 1;
  }
  nav a {
    margin: 0;
    width: 100%;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  .about-text {
    text-align: center;
  }

  .swiper-button-prev{
    left: 20px;
  }

  .swiper-button-next{
    right: 20px;
  }

  .modal-content{
    width: 90%;
  }

  .skill-list {
    margin-bottom: 30px;
    max-width: 100%;
    align-self: flex-start;
  }
  .contact-text {
    margin-bottom: 30px;
  }
  .contact a {
    width: 100%;
    height: 60px;
  }
  form {
    width: 80%;
  }
}